# Base de datos
DATABASE_URL=postgres://usuario:contraseña@host:5432/cafeteria_db
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=cafeteria_db

# JWT
JWT_SECRET=cambia_esto_por_algo_seguro

# Servidor
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# URL pública de la API (usada por el frontend)
NUXT_PUBLIC_API_URL=http://localhost:3001